::-webkit-scrollbar {
    display: none;
}

html,
body {
    background: #F8F2F5;
    color: #000;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    font-family: "Simsun";
    font-size: 18px;
    font-weight: normal;
    /*overflow: hidden;*/
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

p {
    text-align: center;
}

h1 {
    font-size: 35px;
    margin: .8vw;
    font-weight: bolder;
}

h2 {
    font-size: 22px;
    margin: .8vw;
    font-weight: bolder;
}

h3 {
    font-size: 16px;
    margin: .8vw;
    font-weight: bolder;
    color: #333;
}

.wrap {
    position: relative;
    top: 0.5%;
    text-align: center;
}

.wrap img {
    border-radius: 64px;
    width: 128px;
    height: 128px;
}

.wrap img:hover {
    transform: rotate(360deg);
    transition: transform .5s ease;
}

.wrap a {
    text-decoration: none;
    color: #000;
}

.wrap a:hover {
    text-decoration: none;
}

.btn {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 32px 1em;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    border-radius: 12px;
}

.btn:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10
}

.btn:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)
}

.linktree {
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: #8d4bbb;
    border-color: #8d4bbb;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(141, 75, 187, 0.2);
}

footer {
    font-size: 14px;
    font-weight: normal;
    height: auto;
    color: #000000;
    text-align: center;
    position: relative;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: none;
    color: #777;
}

@media (max-width: 768px) {
    .btn {
        max-width: 200px;
    }
}